<div class="selection-area">
  <div class="header">
    <strong class="">
      Graphic Selection
    </strong>
    <a href="#" class="close-btn">
      <span class="glyphicon glyphicon-remove"></span>
    </a>
  </div>
  <div class="content-holder">
    <div class="clearfix sub-section">
      <label class="title" >Search</label>

      <div class="form-holder">
        <input type="text" placeholder="Enter your Search..." class="form-control", id="search_graphic">
      </div>

    </div>

    <%=render partial: "populate_images", locals: {images: graphics}%>
    <div class="footer">
      <input type="button" value="Cancel" class="btn btn-danger" id="cancel_btn">
    </div>
  </div>
</div>