<%=simple_form_for :text, url: texts_path, method: :post do |f|%>
    <li class="form-group">
      <label class="title" >Select Logo</label>
      <div class="form-holder">
        <%=f.input_field :image, as: :select, collection: Graphic.all.collect{|g| [link_to(g.image.url), g.id]}, class: "form-control"%>
      </div>
    </li>

    <div class="options-btn option-btn-side">
      <%=link_to :back, "Close", class: "btn btn-default"%>
      <%=f.button :submit, "Complete", class: "btn btn-primary", remote: :true%>
      <!--<a href="#" class="btn btn-primary" data-show="4">Complete</a>-->
    </div>
<%end%>