<div class="options-btn sidebar-btn">
  <a href="#" class="btn btn-default">UJLJSGM - MENS CUSTOm Baseball Jersey....</a>
</div>
<div class="panel-group selected-decoration" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading active" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class=""><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-minus"></span> <span class="tabtitle">Center Back</span></a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true" style="">
      <div class="panel-body">
        <div class="tile-view">
          <div class="img-holder">
            <img src="images/img-16.png" alt="image description">
          </div>
          <div class="btn-holder text-center">
            <%=link_to "Graphic", "#", class: "btn btn-default", remote: true%>
            <%=link_to "Logo", "#", class: "btn btn-default", remote:true%>
            <%=link_to "Numbring", apply_model_decorations_path(model_name: "text"), class: "btn btn-primary",remote:true%>
            <%=link_to "Team Name", "#", class: "btn btn-default",remote:true%>
            <div data-render></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--<div class="options-btn option-btn-side">-->
  <!--<a href="#" class="btn btn-default">Close</a>-->
  <!--<a href="#" class="btn btn-primary" data-show="4">Complete</a>-->
<!--</div>-->
<!--<div class="options-btn sidebar-btn">
    <a href="#" class="btn btn-default location">Add a Location</a>
</div>-->