<div class="options-btn sidebar-btn">
  <a href="#" class="btn btn-default">UJLJSGM - MENS CUSTOm Baseball Jersey....</a>
</div>
<div class="panel-group selected-decoration" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading active" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class=""><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-minus"></span> <span class="tabtitle">Center Back</span></a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true" style="">
      <div class="panel-body">
        <div class="tile-view">
          <div class="number"><span>25</span></div>
          <div class="detail">
            <div class="row-holder">
              <span class="title">Type: </span>
              <span class="text">Numbring </span>
            </div>
            <div class="row-holder">
              <span class="title">Method: </span>
              <span class="text"> Tackle Twill</span>
            </div>
            <div class="row-holder">
              <span class="title">Height : </span>
              <span class="text"> 8” Tall</span>
            </div>
            <div class="row-holder">
              <span class="title">Colors :</span>
              <span class="text-color"> RO </span>
            </div>
            <div class="row-holder text-right">
              <input type="button" value="Delete" class="btn btn-danger">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-minus"></span> <span class="tabtitle">Lower Right</span></a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
      <div class="panel-body">
        <div class="tile-view">
          <div class="number"><span>25</span></div>
          <div class="detail">
            <div class="row-holder">
              <span class="title">Type: </span>
              <span class="text">Numbring </span>
            </div>
            <div class="row-holder">
              <span class="title">Method: </span>
              <span class="text"> Tackle Twill</span>
            </div>
            <div class="row-holder">
              <span class="title">Height : </span>
              <span class="text"> 8” Tall</span>
            </div>
            <div class="row-holder">
              <span class="title">Colors :</span>
              <span class="text-color"> RO </span>
            </div>
            <div class="row-holder text-right">
              <input type="button" value="Delete" class="btn btn-danger">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseTwo"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-minus"></span> <span class="tabtitle">Left Chest</span></a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false" style="height: 0px;">
      <div class="panel-body">
        <div class="tile-view">
          <div class="number"><span>25</span></div>
          <div class="detail">
            <div class="row-holder">
              <span class="title">Type: </span>
              <span class="text">Numbring </span>
            </div>
            <div class="row-holder">
              <span class="title">Method: </span>
              <span class="text"> Tackle Twill</span>
            </div>
            <div class="row-holder">
              <span class="title">Height : </span>
              <span class="text"> 8” Tall</span>
            </div>
            <div class="row-holder">
              <span class="title">Colors :</span>
              <span class="text-color"> RO </span>
            </div>
            <div class="row-holder text-right">
              <input type="button" value="Delete" class="btn btn-danger">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFour">
          <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-minus"></span> <span class="tabtitle">Inside Front</span></a>
          </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour" aria-expanded="false" style="height: 0px;">
          <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
          </div>
      </div>
  </div>
  <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingFive">
          <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-minus"></span> <span class="tabtitle">color</span></a>
          </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive" aria-expanded="false" style="height: 0px;">
          <div class="panel-body">
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
          </div>
      </div>
  </div>-->
</div>
<div class="options-btn option-btn-side">
  <a href="#" class="btn btn-default">Select Package</a>
  <a href="#" class="btn btn-primary">Add a Location</a>
</div>