<main id="main">
  <div class="container">
    <div class="custom-container">
      <div class="main-heading">
        <h1>Decoration</h1>
      </div>
      <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-12">
          <div class="options-btn">
            <a href="#" class="btn btn-default">Save</a>
            <a href="#" class="btn btn-primary">Place Order</a>
            <a href="#" class="btn btn-default">Share</a>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="box">
                <span class="corner1"></span>
                <span class="corner2"></span>
                <span class="corner3"></span>
                <span class="corner4"></span>
                <div class="image-holder">
                  <img src="images/img-13.png">
                </div>
                <div class="scale">
                  <a href="#" class="scaltext">+</a>
                  <span href="#" class="scalslide">
                                          <a href="#" class="slidebtn"></a>
                                      </span>
                  <a href="#" class="scaltext">-</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="box">
                <span class="corner1 active"></span>
                <span class="corner2 active"></span>
                <span class="corner3 active"></span>
                <span class="corner4 active"></span>
                <div class="image-holder">
                  <img src="images/img-14.png">
                </div>
                <div class="scale">
                  <a href="#" class="scaltext">+</a>
                  <span href="#" class="scalslide">
                                          <a href="#" class="slidebtn"></a>
                                      </span>
                  <a href="#" class="scaltext">-</a>
                </div>
              </div>
            </div>
          </div>
          <div class="table-responsive table-area">
            <table class="table">
              <thead>
              <tr>
                <th>Color</th>
                <th>XS</th>
                <th>S</th>
                <th>M</th>
                <th>L</th>
                <th>XL</th>
                <th>2XL</th>
                <th>3XL</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>A4 Finder</td>
                <td>36</td>
                <td>36</td>
                <td>36</td>
                <td>36</td>
                <td>36</td>
                <td>36</td>
                <td>36</td>
                <td>Case QTY</td>
              </tr>
              <tr>
                <td><input type="color" name=""></td>
                <td>13.65</td>
                <td>13.65</td>
                <td>13.65</td>
                <td>13.65</td>
                <td>13.65</td>
                <td>13.65</td>
                <td>13.65</td>
                <td>Frosh Price</td>
              </tr>
              <tr>
                <td>Scarlet</td>
                <td>10.20</td>
                <td>10.20</td>
                <td>10.20</td>
                <td>10.20</td>
                <td>11.20</td>
                <td>13.20</td>
                <td>12.20</td>
                <td>Prime Price</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="sidebar col-lg-4 col-md-4 col-sm-12">
          <div class="options-btn sidebar-btn">
            <a href="#" class="btn btn-default">UJLJSGM - MENS CUSTOm Baseball Jersey....</a>
          </div>
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading active" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class=""><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-minus"></span> <span class="tabtitle">body</span></a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true" style="">
                <div class="panel-body">
                  <div class="tile-view">
                    <ul>
                      <li><a class="active" href="#"><img src="images/img-14samall.png"></a><span class="tile-view-text">front</span></li>
                      <li><a href="#"><img src="images/img-13samall.png"></a><span class="tile-view-text">Back</span></li>
                      <li><a href="#"><img src="images/img-13samall.png"></a><span class="tile-view-text">Back</span></li>
                      <li><a href="#"><img src="images/img-13samall.png"></a><span class="tile-view-text">Back</span></li>
                      <li><a href="#"><img src="images/img-13samall.png"></a><span class="tile-view-text">Back</span></li>
                      <li><a href="#"><img src="images/img-13samall.png"></a><span class="tile-view-text">Back</span></li>
                      <li><a href="#"><img src="images/img-13samall.png"></a><span class="tile-view-text">Back</span></li>
                      <li><a href="#"><img src="images/img-13samall.png"></a><span class="tile-view-text">Back</span></li>
                      <li><a href="#"><img src="images/img-13samall.png"></a><span class="tile-view-text">Back</span></li>
                      <li><a href="#"><img src="images/img-13samall.png"></a><span class="tile-view-text">Back</span></li>
                      <li><a href="#"><img src="images/img-13samall.png"></a><span class="tile-view-text">Back</span></li>
                      <li><a href="#"><img src="images/img-13samall.png"></a><span class="tile-view-text">Back</span></li>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-minus"></span> <span class="tabtitle">Back</span></a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseTwo"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-minus"></span> <span class="tabtitle">Sleeves</span></a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-minus"></span> <span class="tabtitle">Inside Front</span></a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"><span class="glyphicon glyphicon-plus"></span><span class="glyphicon glyphicon-minus"></span> <span class="tabtitle">color</span></a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive" aria-expanded="false" style="height: 0px;">
                <div class="panel-body">
                  <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="options-btn option-btn-side">
            <a href="#" class="btn btn-default">Previouse</a>
            <a href="#" class="btn btn-primary">next</a>
          </div>
          <div class="options-btn sidebar-btn">
            <a href="#" class="btn btn-default location">Add a Location</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>