<main id="main">
  <div class="container">
    <div class="custom-container">
      <div class="main-heading">
        <h1>Select Your Sport</h1>
      </div>
      <div class="check-list">
        <div class="row">
          <%-@sports.each do |sport|%>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
              <%= form_for sport, url: genders_path(sport_id: sport.id),html: {class: "nice-form card-area", id: "redirect-request"}, method: :get do |f|%>
              <!-- <form action="#" class="nice-form card-area"> -->
                <label for="check-2">
                  <%=f.check_box :is_selected,type: "checkbox",id: "check-2",class: "selected-checbox",checked_value:(sport.is_selected ? "1" : "0")%>
                  <!-- <input id="check-2" checked="checked" type="checkbox"> -->
                  <span class="fake-input"></span>
                  <span class="fake-label">
                                <span class="image-holder">
                                  <%= image_tag(sport.sport_image.url) %>
                                </span>
                                <span class="text"><%=sport.marketing_category%></span>
                              </span>
                </label>
              <%end%>
            </div>
          <%end%>  
        </div>
      </div>
    </div>
  </div>
</main>