<div class="panel-footer row set-margin">
  <div class="btn-area">
    <div class=" btn-holder">
      <span class="count"><%="#{Style.all.count} "%></span>
      <span class="text">Sports</span>
    </div>
    <div class=" btn-holder">
      <span class="count"><%="#{Style.all.count} "%></span>
      <span class="text">Sports</span>
    </div>
    <div class="btn-holder">
      <span class="count"><%="#{Style.all.count} "%></span>
      <span class="text">Sports</span>
    </div>
    <div class="btn-holder">
      <span class="count"><%="#{Style.all.count} "%></span>
      <span class="text">Sports</span>
    </div>

  </div>
</div>