<div class="panel-footer row set-margin">
  <div class="btn-area">
    <div class=" btn-holder">
      <span class="count"><%=Sport.all.count%></span>
      <span class="text">Sports</span>
    </div>
    <div class=" btn-holder">
      <span class="count"><%=Style.where(style_category: "Stock").count%></span>
      <span class="text">Stock Styles</span>
    </div>
    <div class="btn-holder">
      <span class="count"><%=Style.where(style_category: "Sublimation").count%></span>
      <span class="text">Sublimation Styles</span>
    </div>
    <div class="btn-holder">
      <span class="count"><%=Decoration.all.count%></span>
      <span class="text">Decorations</span>
    </div>

  </div>
</div>