<div class="panel-footer row set-margin">
  <div class="col-xs-6">
    <div class="col-lg-3 col-md-3 btn-holder">
      <span class="count"><%="#{Style.all.count} "%></span>
      <span class="text">Sports</span>
    </div>
    <div class="col-lg-3 col-md-3 btn-holder">
      <span class="count"><%="#{Style.all.count} "%></span>
      <span class="text">Sports</span>
    </div>
    <div class="col-lg-3 col-md-3 btn-holder">
      <span class="count"><%="#{Style.all.count} "%></span>
      <span class="text">Sports</span>
    </div>
    <div class="col-lg-3 col-md-3 btn-holder">
      <span class="count"><%="#{Style.all.count} "%></span>
      <span class="text">Sports</span>
    </div>

  </div>
</div>