<div class="panel-footer row set-margin">
  <div class="col-xs-6">
    <button type="button" class="btn btn-secondary button-adjustment"><%="#{Sport.all.count} Sports"%></button>
    <button type="button" class="btn btn-secondary button-adjustment"><%="#{Style.all.count} Styles"%></button>
    <button type="button" class="btn btn-secondary button-adjustment"><%="#{Design.all.count} Design"%></button>
    <button type="button" class="btn btn-secondary button-adjustment"><%="#{Decoration.all.count} Decoration"%></button>
  </div>
</div>