/*font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;*/
@font-face {
  font-family: 'robotoblack';
  src: url("/assets/roboto-black-webfont.woff2") format("woff2"), url("/assets/roboto-black-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoblack_italic';
  src: url("/assets/roboto-blackitalic-webfont.woff2") format("woff2"), url("/assets/roboto-blackitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold';
  src: url("/assets/roboto-bold-webfont.woff2") format("woff2"), url("/assets/roboto-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold_condensed';
  src: url("/assets/roboto-boldcondensed-webfont.woff2") format("woff2"), url("/assets/roboto-boldcondensed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold_condensed_italic';
  src: url("/assets/roboto-boldcondenseditalic-webfont.woff2") format("woff2"), url("/assets/roboto-boldcondenseditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold_italic';
  src: url("/assets/roboto-bolditalic-webfont.woff2") format("woff2"), url("/assets/roboto-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotocondensed';
  src: url("/assets/roboto-condensed-webfont.woff2") format("woff2"), url("/assets/roboto-condensed-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedbold';
  src: url("/assets/robotocondensed-bold-webfont.woff2") format("woff2"), url("/assets/robotocondensed-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedbold_italic';
  src: url("/assets/robotocondensed-bolditalic-webfont.woff2") format("woff2"), url("/assets/robotocondensed-bolditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotocondensed_italic';
  src: url("/assets/roboto-condenseditalic-webfont.woff2") format("woff2"), url("/assets/roboto-condenseditalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedlight';
  src: url("/assets/robotocondensed-light-webfont.woff2") format("woff2"), url("/assets/robotocondensed-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'roboto_condensedlight_italic';
  src: url("/assets/robotocondensed-lightitalic-webfont.woff2") format("woff2"), url("/assets/robotocondensed-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoitalic';
  src: url("/assets/roboto-italic-webfont.woff2") format("woff2"), url("/assets/roboto-italic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotolight';
  src: url("/assets/roboto-light-webfont.woff2") format("woff2"), url("/assets/roboto-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotolight_italic';
  src: url("/assets/roboto-lightitalic-webfont.woff2") format("woff2"), url("/assets/roboto-lightitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotomedium';
  src: url("/assets/roboto-medium-webfont.woff2") format("woff2"), url("/assets/roboto-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotomedium_italic';
  src: url("/assets/roboto-mediumitalic-webfont.woff2") format("woff2"), url("/assets/roboto-mediumitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url("/assets/roboto-regular-webfont.woff2") format("woff2"), url("/assets/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotothin';
  src: url("/assets/roboto-thin-webfont.woff2") format("woff2"), url("/assets/roboto-thin-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotothin_italic';
  src: url("/assets/roboto-thinitalic-webfont.woff2") format("woff2"), url("/assets/roboto-thinitalic-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* line 144, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
html {
  height: 100%;
}

/* line 147, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
body {
  height: 100%;
  min-width: 320px;
  background: #efefef;
  font-family: 'robotocondensed';
}

/* line 153, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
#wrapper {
  overflow: hidden;
}

/* line 156, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
body.home-page {
  height: 100%;
}

/* line 162, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.home-wrapper {
  background: #efefef url("main-bg.jpg") no-repeat 50% 100%;
  background-size: cover;
  overflow: hidden;
  height: auto;
  width: 100%;
  position: relative;
}

/* line 170, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.home-wrapper .home-img-holder {
  text-align: center;
}

/* line 173, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.home-wrapper .home-img-holder img {
  display: inline-block;
  vertical-align: middle;
}

/* line 177, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
#header {
  width: 100%;
  overflow: hidden;
  padding: 25px;
}

/* line 182, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
#header .login-area {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  float: right;
}

/* line 189, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
#header .login-area li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 8px;
  position: relative;
}

/* line 195, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
#header .login-area li.signin:after {
  content: "";
  height: 14px;
  width: 1px;
  background: #000;
  display: block;
  position: absolute;
  left: -8px;
  top: 4px;
}

/* line 205, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
#header .login-area li:nth-of-type(2):after {
  display: none;
}

/* line 208, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
#header .login-area li.item1 a {
  background: #d02030;
  padding: 6px 8px;
  border-radius: 4px;
  color: #fff;
  display: block;
  font-size: 11px;
  line-height: 14px;
  font-family: 'robotoregular';
}

/* line 221, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
#header .login-area li.signin a {
  font-size: 13px;
  line-height: 16px;
  font-family: 'robotocondensed';
  text-transform: uppercase;
  color: #000;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 231, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
#header .login-area li a:hover {
  text-decoration: none;
  color: #d02030;
}

/* line 235, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
#header .login-area li.item1 a:hover {
  background: #6d6e71;
  color: #fff;
}

/* line 239, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
#main {
  overflow: hidden;
}

/* line 242, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
#content {
  overflow: hidden;
}

/* line 245, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.custom-container {
  padding-left: 9%;
  margin-bottom: 50px;
}

/* line 249, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.content h1 {
  font-size: 33px;
  line-height: 43px;
  position: relative;
  font-family: 'robotocondensed';
  font-weight: 700;
  padding-left: 175px;
  padding-bottom: 18px;
  padding-top: 30px;
}

/* line 259, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.content h1:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("/assets/A4-img-7dbb48eace70ecccb00a0517d20425dc64241eb62a9e9a08ec8b687f3978cded.png");
  width: 165px;
  height: 85px;
}

/* line 269, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.content .detail-holder .detail {
  max-width: 850px;
}

/* line 272, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.content .detail-holder p {
  margin-bottom: 50px;
  font-family: 'robotoregular';
  font-size: 15px;
  line-height: 25px;
  font-weight: 300;
  color: #6d6e71;
}

/* line 280, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.content .detail-holder .img-holder {
  overflow: hidden;
  margin-bottom: 0;
}

/* line 284, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.content .img-holder ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 289, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.content .img-holder ul li {
  float: left;
  width: 33%;
  padding: 5px;
}

/* line 294, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.content .img-holder ul li .img-holder {
  overflow: hidden;
  padding: 8px;
  background: #fefefe;
  /* Old browsers */
  background: -moz-linear-gradient(left, #fefefe 0%, #ededed 7%, #ececec 9%, #e4e4e4 12%, #e1e1e1 14%, #dbdbdb 16%, #d6d6d6 19%, #cecece 22%, #cecece 23%, #cbcbcb 24%, #bababa 33%, #b7b5b6 34%, #b3b3b3 36%, #aeaeae 38%, #aaa8a9 41%, #999798 49%, #939192 54%, #868485 60%, #767676 69%, #6b696a 75%, #656366 79%, #616161 80%, #424244 99%, #434345 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(left, #fefefe 0%, #ededed 7%, #ececec 9%, #e4e4e4 12%, #e1e1e1 14%, #dbdbdb 16%, #d6d6d6 19%, #cecece 22%, #cecece 23%, #cbcbcb 24%, #bababa 33%, #b7b5b6 34%, #b3b3b3 36%, #aeaeae 38%, #aaa8a9 41%, #999798 49%, #939192 54%, #868485 60%, #767676 69%, #6b696a 75%, #656366 79%, #616161 80%, #424244 99%, #434345 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #fefefe 0%, #ededed 7%, #ececec 9%, #e4e4e4 12%, #e1e1e1 14%, #dbdbdb 16%, #d6d6d6 19%, #cecece 22%, #cecece 23%, #cbcbcb 24%, #bababa 33%, #b7b5b6 34%, #b3b3b3 36%, #aeaeae 38%, #aaa8a9 41%, #999798 49%, #939192 54%, #868485 60%, #767676 69%, #6b696a 75%, #656366 79%, #616161 80%, #424244 99%, #434345 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#434345',GradientType=1 );
  /* IE6-9 */
}

/* line 303, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.content .img-holder ul li .img-holder img {
  width: 100%;
  height: auto;
}

/* line 307, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.content .detail-holder .detail .btn-holder {
  overflow: hidden;
  margin-bottom: 20%;
}

/* line 311, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.content .detail-holder .detail .btn-holder .btn {
  float: left;
  font-size: 23px;
  text-transform: uppercase;
  color: #fff;
  width: 48%;
  margin: 0 1%;
  border: none;
  border-radius: 0;
  background: #d02030;
  font-family: 'robotocondensed';
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 326, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.content .detail-holder .detail .btn-holder .btn:hover {
  background: #6d6e71;
}

/****Gender page styles*****/
/* line 330, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.gender #header {
  background: #d02030;
  padding: 15px;
}

/* line 334, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.gender #header .login-area li.item1 a {
  background: #e6e7e8;
  color: #d02030;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 341, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.gender #header .login-area li.item1 a:hover {
  background: #5d5d5d;
  color: #fff;
}

/* line 345, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.gender #header .login-area li.signin a {
  color: #fff;
}

/* line 348, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.gender #header .login-area li.signin a:hover {
  color: #000;
}

/* line 351, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.gender #header .login-area li.signin:after {
  background: #fff;
}

/* line 354, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.navbar-default {
  background: none;
  border: none;
}

/* line 358, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.navbar-brand {
  height: auto;
  padding: 0;
}

/* line 362, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.navbar-nav {
  font-size: 15px;
  line-height: 18px;
  font-family: 'robotocondensed';
  margin: 40px 0 0;
  text-align: center;
  width: 93%;
}

/* line 370, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.navbar {
  margin-bottom: 40px;
}

/* line 373, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.navbar-nav > li {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

/* line 378, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.navbar-default .navbar-nav > li > a {
  border: 1px solid #efefef;
  text-transform: uppercase;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  padding: 5px 20px;
}

/* line 387, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
  background: none;
  border: 1px solid #d02030;
  color: #d02030;
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  position: relative;
  z-index: 9;
}

/* line 398, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.main-heading {
  width: 100%;
  overflow: hidden;
}

/* line 402, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.main-heading h1 {
  background: #5d5d5d;
  color: #fff;
  font-size: 28px;
  line-height: 31px;
  font-family: 'robotocondensed';
  padding: 5px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 60px;
}

/* line 413, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.list {
  text-align: center;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 'robotocondensed';
}

/* line 420, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.list li {
  text-transform: uppercase;
  font-size: 23px;
  line-height: 26px;
  color: #000;
  margin-bottom: 20px;
}

/* line 427, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.list li.heading {
  font-size: 37px;
  line-height: 40px;
  text-transform: none;
  margin-bottom: 30px;
}

/* line 433, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.list li a {
  color: #000;
  border: 1px solid #efefef;
  padding: 14px 60px;
  display: inline-block;
  vertical-align: middle;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 443, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.list li a:hover {
  border-color: #d02030;
  text-decoration: none;
}

/* Sports Page */
/* line 448, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.nice-form input[type="radio"],
.nice-form input[type="checkbox"] {
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  z-index: -1;
}

/* line 456, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.nice-form .fake-input,
.nice-form label {
  float: right;
}

/* line 460, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.nice-form .fake-input {
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
  position: relative;
  background: transparent;
}

/* line 468, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.fake-label {
  text-align: center;
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -85px;
  margin-left: -60px;
}

/* line 477, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.fake-label .image-holder {
  height: 144px;
  width: 110px;
  display: block;
  margin: 0 auto 20px;
}

/* line 483, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.fake-label .image-holder img {
  width: auto;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

/* line 489, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.fake-label .text {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  font-family: 'robotocondensed';
  display: block;
}

/* line 496, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.nice-form input[type=radio] + .fake-input {
  border-radius: 100%;
}

/* line 497, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.nice-form input[type="checkbox"] + .fake-input:before {
  content: '';
  width: 12px;
  height: 6px;
  position: absolute;
  top: 50%;
  left: 50%;
  border: 3px solid #fff;
  border-width: 0 0 2px 2px;
  opacity: 0;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin: -5px 0 0 -5px;
  z-index: 2;
}

/* line 514, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.nice-form input[type="checkbox"] + .fake-input:after {
  background: #d02030;
  height: 25px;
  width: 25px;
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  display: block;
  z-index: 1;
  opacity: 0;
  border-radius: 50%;
}

/* line 527, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.nice-form input[type="radio"] + .fake-input:before {
  content: '';
  position: absolute;
  top: 3px;
  right: 3px;
  bottom: 3px;
  left: 3px;
  background: #777;
  border-radius: 100%;
  opacity: 0;
}

/* line 538, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.nice-form input[type="checkbox"]:checked + .fake-input:after,
.nice-form input[type="radio"]:checked + .fake-input:before,
.nice-form input[type="checkbox"]:checked + .fake-input:before {
  opacity: 1;
}

/*.nice-form input[type="radio"]:checked ~ .fake-label,
.nice-form input[type="checkbox"]:checked ~ .fake-label {font-weight:bold; color:#f00}*/
/* line 543, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.nice-form input:disabled + .fake-input,
.nice-form input:disabled ~ .fake-label {
  opacity: .5;
}

/* line 545, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.card-area {
  background: #e6e7e8;
  padding: 10px;
  min-height: 245px;
  margin-bottom: 20px;
}

/*category page styles*/
/* line 552, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.category-btn {
  max-width: 270px;
  margin: 0 auto;
}

/* line 556, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.category-btn .btn-primary,
.category-btn .btn-default {
  background: #e6e7e8;
  color: #000;
  font-size: 21px;
  line-height: 24px;
  font-family: 'robotoregular';
  border: none;
  border-radius: 0;
  display: block;
  margin-bottom: 20px;
}

/* line 568, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.category-btn .btn-primary {
  background: #d02030;
  color: #fff;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 575, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.category-btn .btn-default:hover {
  background: #5d5d5d;
  color: #fff;
}

/* line 579, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.category-btn .btn-primary:hover {
  background: #5d5d5d;
}

/*Option styles*/
/* line 583, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.options-btn {
  overflow: hidden;
  text-align: center;
}

/* line 587, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.options-btn .btn-primary,
.options-btn .btn-default {
  display: inline-block;
  vertical-align: middle;
  color: #000;
  font-size: 16px;
  line-height: 24px;
  font-family: 'robotoregular';
  border: 1px solid #c6c6c6;
  border-radius: 0;
  margin-bottom: 20px;
  margin-left: 15px;
  width: 160px;
  background: #f8f8f8;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #d1d3d4 91%, #d1d3d4 100%);
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #d1d3d4 91%, #d1d3d4 100%);
  background: linear-gradient(to bottom, #f8f8f8 0%, #d1d3d4 91%, #d1d3d4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#d1d3d4',GradientType=0 );
}

/* line 606, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.options-btn .btn-primary {
  background: #d02030;
  color: #fff;
  border: 1px solid #d02030;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 614, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.options-btn .btn-default:hover {
  background: #5d5d5d;
  color: #fff;
}

/* line 618, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.options-btn .btn-primary:hover {
  background: #5d5d5d;
  border-color: #5d5d5d;
}

/* line 622, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.box {
  position: relative;
  padding: 40px;
  background: #fff;
}

/* line 627, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.box .image-holder img {
  width: 100%;
  height: auto;
  display: block;
}

/* line 632, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.box .corner4,
.box .corner3,
.box .corner2,
.box .corner1 {
  position: absolute;
  left: 0;
  top: 0;
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 36px 36px 0 0;
  border-color: #e6e7e8 transparent transparent transparent;
}

/* line 646, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.box .corner2 {
  left: auto;
  top: 0;
  right: 0;
  border-width: 0 36px 36px 0;
  border-color: transparent #e6e7e8 transparent transparent;
}

/* line 653, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.box .corner3 {
  left: 0;
  top: auto;
  bottom: 0;
  border-width: 36px 0 0 36px;
  border-color: transparent transparent transparent #e6e7e8;
}

/* line 660, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.box .corner4 {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
  border-width: 0 0 36px 36px;
  border-color: transparent transparent #e6e7e8 transparent;
}

/* line 668, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.box .corner4.active,
.box .corner3.active,
.box .corner2.active,
.box .corner1.active {
  border-width: 36px 36px 0 0;
  border-color: #d02030 transparent transparent transparent;
}

/* line 675, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.box .corner2.active {
  border-width: 0 36px 36px 0;
  border-color: transparent #d02030 transparent transparent;
}

/* line 679, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.box .corner3.active {
  border-width: 36px 0 0 36px;
  border-color: transparent transparent transparent #d02030;
}

/* line 683, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.box .corner4.active {
  border-width: 0 0 36px 36px;
  border-color: transparent transparent #d02030 transparent;
}

/* line 687, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.scale {
  position: absolute;
  right: 15px;
  top: 50px;
}

/* line 692, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.scale .scaltext {
  color: #939598;
}

/* line 695, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.scale .scalslide {
  background: #939598;
  min-height: 200px;
  width: 2px;
  position: relative;
  display: block;
  margin-left: 2px;
}

/* line 703, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.scale .scalslide .slidebtn {
  position: absolute;
  left: -11px;
  top: 25px;
  height: 23px;
  width: 23px;
  background: #fff;
  border-radius: 100%;
  border: 1px solid #939598;
  text-align: center;
  display: block;
}

/* line 715, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.sidebar-btn {
  width: 100%;
}

/* line 718, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.sidebar-btn .btn {
  width: 100%;
  margin: 0 0 20px;
  font-size: 15px;
}

/* line 723, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.sidebar .panel-heading {
  background: #d02030;
  color: #fff;
  text-transform: uppercase;
  border-radius: 0;
}

/* line 729, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.sidebar .panel-group .panel {
  background: none;
  border: none;
}

/* line 733, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.sidebar .panel-collapse {
  margin: 10px 0 20px;
}

/* line 736, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.sidebar .panel-body {
  background: #fff;
  box-shadow: 0 0 5px #ccc;
}

/* line 740, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.collapsed .glyphicon-plus {
  display: inline-block;
  vertical-align: top;
}

/* line 744, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.collapsed .glyphicon-minus {
  display: none;
}

/* line 747, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.glyphicon-minus {
  display: inline-block;
  vertical-align: top;
}

/* line 751, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.glyphicon-plus {
  display: none;
}

/* line 754, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.panel-title a {
  display: block;
  font-family: 'robotomedium';
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 761, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.panel-title a:focus,
.panel-title a:hover {
  text-decoration: none;
}

/* line 765, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.view {
  text-align: right;
  margin-bottom: 10px;
}

/* line 769, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.view a {
  color: #bcbec0;
  margin: 0 5px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 776, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.view a:hover {
  text-decoration: none;
  color: #d02030;
}

/* line 780, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.sidebar input[type="color"] {
  border: none;
  padding: 0;
  height: 20px;
  width: 20px;
}

/* line 786, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.sidebar .panel-group2 .panel-heading {
  background: #efefef;
  color: #000;
  border: 1px solid #cecece;
  padding: 0;
}

/* line 792, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.sidebar .panel-group .tabtitle {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}

/* line 797, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.sidebar .panel-group.panel-group2 .tabtitle {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  margin-left: 10px;
}

/* line 803, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.sidebar .panel-group2 .panel-heading .glyphicon {
  border-right: 1px solid #cecece;
  padding: 10px;
  background: #f8f8f8;
  background: -moz-linear-gradient(top, #f8f8f8 0%, #d1d3d4 91%, #d1d3d4 100%);
  background: -webkit-linear-gradient(top, #f8f8f8 0%, #d1d3d4 91%, #d1d3d4 100%);
  background: linear-gradient(to bottom, #f8f8f8 0%, #d1d3d4 91%, #d1d3d4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f8f8f8', endColorstr='#d1d3d4',GradientType=0 );
}

/* line 812, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.sidebar .panel-group.panel-group2 .panel-collapse {
  margin: 0 0 20px;
  border: 1px solid #cecece;
  border-top: none;
}

/* line 817, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.sidebar .panel-group.panel-group2 .panel-body {
  background: none;
  box-shadow: none;
  border: none;
}

/* line 822, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.options-btn.option-btn-side .btn-primary,
.options-btn.option-btn-side .btn-default {
  margin-left: 8px;
  width: 130px;
}

/* line 827, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.font-setting {
  overflow: hidden;
}

/* line 830, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.font-setting ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* line 835, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.font-setting ul li {
  float: left;
  width: 33%;
  text-align: center;
}

/* line 840, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.font-setting ul li:nth-child(2) img {
  padding: 6px;
}

/* line 843, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.font-setting ul li img {
  min-height: 52px;
  margin-bottom: 10px;
}

/* line 847, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.font-setting ul li a {
  color: #9d9cae;
  display: block;
}

/* line 851, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.table-area {
  margin-top: 20px;
}

/* line 854, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.table-area thead {
  background: #d02030;
  color: #fff;
}

/* line 858, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.table-area .table > thead > tr > th {
  border: none;
}

/* line 861, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
  border-top: none;
  font-size: 11px;
  line-height: 14px;
  padding: 5px;
}

/* line 867, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.table-area tbody {
  background: #231f20;
  color: #fff;
}

/* line 871, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.table-area tbody input[type="color"] {
  border: none;
  padding: 0;
}

/* line 876, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.font-setting ul li a:hover {
  text-decoration: none;
  opacity: 0.6;
}

/* line 880, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.font-setting ul li a span {
  display: block;
}

/* line 883, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.tile-view {
  overflow: hidden;
  margin: 20px;
}

/* line 887, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.tile-view ul {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

/* line 893, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.tile-view ul li {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

/* line 898, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.tile-view ul li a {
  border: 1px solid #9d9cae;
  display: block;
  height: 85px;
  width: 82px;
}

/* line 905, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.tile-view ul li a img {
  width: 100%;
  height: auto;
  display: block;
  padding: 5px;
}

/* line 911, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.tile-view ul li a.active {
  border-color: #d02030;
}

/* line 914, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.tile-view ul li .tile-view-text {
  display: block;
  color: #9d9cae;
  text-transform: uppercase;
  margin: 5px 0;
}

/*decoration page*/
/* line 921, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.sidebar .tile-view ul li a {
  height: 60px;
  width: 58px;
}

/* line 925, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.sidebar .tile-view ul li .tile-view-text {
  margin: 2px 0 5px;
  font-size: 10px;
}

/* line 929, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.options-btn .btn-default.location {
  background: #5d5d5d;
  color: #fff;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 936, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.options-btn .btn-default.location:hover {
  background: #2d2d2d;
}

/*designs page styles*/
/* line 940, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.card {
  overflow: hidden;
}

/* line 943, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.card .four-col {
  overflow: hidden;
  width: 100%;
}

/* line 947, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.card .four-col .col {
  display: inline-block;
  vertical-align: middle;
  width: 24%;
  text-align: center;
  position: relative;
  padding: 60px 20px 60px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #000;
}

/* line 959, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.card .four-col .col .layout {
  opacity: 0;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 965, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.card .four-col .col:hover .layout {
  background: rgba(230, 231, 232, 0.8);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  opacity: 1;
}

/* line 976, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.card .four-col .col:hover .design-info {
  position: absolute;
  z-index: 9;
  bottom: 50%;
  left: 0;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 986, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.card .four-col .col .image-holder {
  margin-bottom: 20px;
}

/* line 989, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.card .four-col .col .image-holder img {
  width: 100%;
  height: auto;
  display: block;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 997, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.card .four-col .col:hover .image-holder img {
  -moz-transform: scale(0.7);
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}

/* line 1002, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.design-info {
  font-family: 'robotocondensed';
  text-transform: uppercase;
  position: absolute;
  z-index: 9;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 21px;
}

/* line 1014, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.design-info .design-code {
  display: block;
  color: #d02030;
}

/* line 1018, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.design-info .style-link,
.design-info .design-name {
  display: block;
}

/* line 1022, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.design-info .style-link {
  color: #2b3990;
  text-decoration: underline;
}

/* line 1026, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.design-info .style-link:hover {
  text-decoration: none;
}

/* line 1029, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.content-info {
  overflow: hidden;
  width: 100%;
  font-size: 18px;
  line-height: 24px;
  color: #000;
  font-family: 'robotocondensed';
  margin-bottom: 30px;
}

/* line 1038, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.content-info .available-date {
  float: left;
}

/* line 1041, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.content-info .available-info {
  float: right;
}

/*summary page*/
/* line 1045, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.link-area {
  overflow: hidden;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

/* line 1051, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.link-area a.style-link {
  font-size: 17px;
  line-height: 20px;
  color: #d02030;
  text-decoration: underline;
}

/* line 1057, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.link-area a.style-link:hover {
  text-decoration: none;
  color: #000;
}

/* line 1061, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.options-btn .btn-default.summary-btn {
  background: #ddd;
  border: none;
  margin-bottom: 10px;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 1069, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.options-btn .btn-default.summary-btn:hover {
  background: #d02030;
}

/* line 1072, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.modal-content:after {
  display: block;
  content: "";
  clear: both;
}

/* line 1077, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.modal-header .close {
  height: 65px;
  width: 65px;
  text-align: center;
  background: #fff;
  opacity: 1;
  border-radius: 100%;
  border: 2px solid #d02030;
  margin-top: -10px;
  margin-right: -25px;
  color: #d02030;
}

/* line 1089, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.modal-dialog {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -460px;
  margin-top: -250px;
  width: 920px;
}

/* line 1097, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.modal-header {
  background: #d02030;
  padding: 0;
  height: 55px;
}

/* line 1102, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.modal-backdrop.in {
  opacity: 0.8;
}

/* line 1105, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.modal-body {
  padding: 0 0 30px;
  max-width: 800px;
  margin: 0 auto;
}

/* line 1110, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.modal-body:after {
  display: block;
  content: "";
  clear: both;
}

/* line 1115, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.modal-logo {
  margin-bottom: 40px;
  overflow: hidden;
  margin-top: -1px;
}

/* line 1120, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.form-area {
  max-width: 495px;
  margin: 0 auto;
}

/* line 1124, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.form-area input {
  width: 100%;
  background: #f1f2f2;
  padding: 15px;
  font-size: 18px;
  line-height: 21px;
  height: 56px;
  outline: none;
  border: none;
  margin-bottom: 20px;
}

/* line 1135, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.form-area .btn.btn-primary {
  float: left;
  font-size: 23px;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  margin: 0 1% 20px;
  border: none;
  border-radius: 0;
  background: #d02030;
  font-family: 'robotocondensed';
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

/* line 1151, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.form-area .btn.btn-primary:hover {
  background: #6d6e71;
  color: #fff;
}

/* line 1155, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
.link-area a {
  display: block;
  margin-bottom: 10px;
}

/*media query*/
@media only screen and (max-width: 1200px) {
  /* line 1162, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .navbar-default .navbar-nav > li > a {
    padding: 5px 10px;
  }

  /* line 1165, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .navbar-nav {
    width: 90%;
  }
}
@media only screen and (max-width: 1140px) {
  /* line 1170, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .custom-container {
    padding-left: 0;
  }
}
@media only screen and (max-width: 991px) {
  /* line 1175, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .navbar-nav {
    width: 100%;
  }

  /* line 1178, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .navbar-default .navbar-nav > li > a {
    padding: 5px 5px;
  }

  /* line 1181, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .content .detail-holder .detail {
    width: 100%;
    max-width: 100%;
  }

  /* line 1185, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .content .detail-holder .detail .btn-holder {
    margin-bottom: 5%;
  }

  /* line 1188, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .home-wrapper .home-img-holder img {
    max-width: 25%;
  }

  /* line 1191, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .modal-dialog {
    margin-left: -300px;
    margin-top: -225px;
    width: 600px;
  }

  /* line 1196, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .modal-body {
    max-width: 400px;
  }

  /* line 1199, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .modal-header {
    height: 35px;
  }

  /* line 1202, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .modal-logo {
    margin-bottom: 20px;
  }

  /* line 1205, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .modal-header .close {
    height: 45px;
    width: 45px;
  }

  /* line 1209, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .form-area input {
    margin-bottom: 10px;
    padding: 10px 15px;
    font-size: 15px;
    line-height: 20px;
    height: 45px;
  }

  /* line 1216, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .form-area .btn.btn-primary {
    margin: 0 1% 20;
  }
}
@media only screen and (max-width: 767px) {
  /* line 1221, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .navbar-brand {
    margin-right: 0;
  }

  /* line 1224, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover,
  .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .active > a:hover {
    background: none;
    border: 1px solid #d02030;
    color: #d02030;
    -moz-transform: scale(1.02);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    position: relative;
    z-index: 9;
  }

  /* line 1235, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .navbar-nav > li {
    float: left;
    display: block;
    width: 100%;
    text-align: left;
  }

  /* line 1241, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .card .four-col .col {
    width: 32%;
  }

  /* line 1244, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .content .detail-holder .detail .btn-holder .btn {
    font-size: 12px;
    line-height: 15px;
  }

  /* line 1248, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .home-wrapper .home-img-holder img {
    max-width: 40%;
  }

  /* line 1253, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .modal-dialog {
    margin-left: -150px;
    margin-top: -225px;
    width: 300px;
  }

  /* line 1258, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .modal-body {
    max-width: 270px;
  }

  /* line 1261, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .modal-header {
    height: 25px;
  }

  /* line 1264, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .modal-logo {
    margin-bottom: 10px;
  }

  /* line 1267, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .modal-header .close {
    height: 30px;
    width: 30px;
    margin-top: -5px;
    margin-right: -10px;
  }

  /* line 1273, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .form-area input {
    margin-bottom: 6px;
    padding: 7px 15px;
    font-size: 12px;
    line-height: 20px;
    height: 35px;
  }

  /* line 1280, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .form-area .btn.btn-primary {
    margin: 0 1% 20;
  }

  /* line 1283, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .form-area .btn.btn-primary {
    font-size: 15px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 1288, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .card .four-col .col {
    width: 100%;
  }

  /* line 1291, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .content h1 {
    font-size: 20px;
    line-height: 30px;
    padding-left: 90px;
    padding-bottom: 0px;
    padding-top: 5px;
  }

  /* line 1298, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .content h1:after {
    width: 80px;
    height: 85px;
    background-size: 100%;
  }

  /* line 1303, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .content .img-holder ul li {
    width: 100%;
  }

  /* line 1306, /home/ssi/Projects/bitbucket/A4-Configurator/app/assets/stylesheets/custom.css.scss */
  .content .detail-holder .img-holder {
    margin-bottom: 15px;
  }
}
