<body class="home-page">
<div id="wrapper" class="home-wrapper">
  <div id="header">
    <ul class="login-area">
      <li class="item1"><a href="#">Item1</a></li>
      <li class="signin"><a href="#">Sign In</a></li>
      <li class="signin"><a href="#">Sign Out</a></li>
    </ul>
  </div>
  <main id="main">
    <div class="content">
      <div class="home-img-holder col-md-4">
        <%=image_tag "img-01.png", class:"img-responsive", alt:"img description"%>
      </div>
      <div class="detail-holder col-md-8">
        <div class="detail">
          <h1>Uniform Builder</h1>
          <p>By selecting START, you will begin at Step 1 of the uniform building process. It is easy to use, just follow along through the steps! If you have saved a uniform and want to revisit it, select MY MOCK-UPS and you can pick-up where you left off or move efficiently toward placing your order!</p>
          <div class="btn-holder">
            <a href="#" class="btn btn-primary">Start NOw</a>
            <a href="#" class="btn btn-primary">How to use configurator</a>
          </div>
        </div>
        <div class="img-holder">
          <ul>
            <li>
              <div class="img-holder">
                <%=image_tag "img-02.jpg", alt:"image description"%>
              </div>
            </li>
            <li>
              <div class="img-holder">
                <%=image_tag "img-03.jpg", alt:"image description"%>
              </div>
            </li>
            <li>
              <div class="img-holder">
                <%=image_tag "img-04.jpg", alt:"image description"%>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</div>
</body>
