<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>A4</title>

  <!-- Bootstrap -->
  <%=  stylesheet_link_tag "bootstrap.min.css" %>
  <%=  stylesheet_link_tag "custom" %>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/Uniform Builder/3.7.
      <p>By selecting START, you will begin at Step 1 of the uniform building process. It is easy to use, just follow along through the steps! If you have saved a uniform and want to revisit it, select MY MOCK-UPS and you can pick-up where you left off or move efficiently toward placing your order!</p>3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<div id="wrapper" class="gender">
  <div id="header">
    <div class="container">
      <ul class="login-area">
        <li class="item1"><a href="#">Item1</a></li>
        <li class="signin"><a href="#">Sign In</a></li>
        <li class="signin"><a href="#">Sign Out</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><%= image_tag("logo.png", :alt => "img") %></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li class="active"><a href="#">Sports</a></li>
            <li><a href="#">Gender</a></li>
            <li><a href="#">CATEGORY</a></li>
            <li><a href="#">Style</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Options</a></li>
            <li><a href="#">Decoration</a></li>
            <li><a href="#">Summary</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
  <main id="main">
    <div class="container">
      <div class="custom-container">
        <div class="main-heading">
          <h1>Gender</h1>
        </div>
        <ul class="list col-lg-4 col-md-4 col-sm-4">
          <li class="heading">Mens</li>
          <li class=""><a href="#">PANTS</a></li>
          <li class=""><a href="#">JACKETS</a></li>
          <li class=""><a href="#">JERSEY</a></li>
        </ul>
        <ul class="list col-lg-4 col-md-4 col-sm-4">
          <li class="heading">Womens</li>
          <li class=""><a href="#">PANTS</a></li>
          <li class=""><a href="#">JACKETS</a></li>
          <li class=""><a href="#">JERSEY</a></li>
        </ul>
        <ul class="list col-lg-4 col-md-4 col-sm-4">
          <li class="heading">Youths</li>
          <li class=""><a href="#">PANTS</a></li>
          <li class=""><a href="#">JACKETS</a></li>
          <li class=""><a href="#">JERSEY</a></li>
        </ul>
      </div>
    </div>
  </main>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<%= javascript_include_tag( 'bootstrap.min.js' ) %>
</body>
</html>