<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>A4</title>

  <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/custom.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/Uniform Builder/3.7.
      <p>By selecting START, you will begin at Step 1 of the uniform building process. It is easy to use, just follow along through the steps! If you have saved a uniform and want to revisit it, select MY MOCK-UPS and you can pick-up where you left off or move efficiently toward placing your order!</p>3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<div id="wrapper" class="home-wrapper">
  <div id="header">
    <ul class="login-area">
      <li class="item1"><a href="#">Item1</a></li>
      <li class="signin"><a href="#">Sign In</a></li>
      <li class="signin"><a href="#">Sign Out</a></li>
    </ul>
  </div>
  <main id="main">
    <div class="content">
      <div class="home-img-holder col-md-4">
        <img src="images/img-01.png" class="img-responsive" alt="img description">
      </div>
      <div class="detail-holder col-md-8">
        <div class="detail">
          <h1>Uniform Builder</h1>
          <p>By selecting START, you will begin at Step 1 of the uniform building process. It is easy to use, just follow along through the steps! If you have saved a uniform and want to revisit it, select MY MOCK-UPS and you can pick-up where you left off or move efficiently toward placing your order!</p>
          <div class="btn-holder">
            <a href="#" class="btn btn-primary">Start NOw</a>
            <a href="#" class="btn btn-primary">How to use configurator</a>
          </div>
        </div>
        <div class="img-holder">
          <ul>
            <li>
              <div class="img-holder">
                <img src="images/img-02.jpg" alt="image description">
              </div>
            </li>
            <li>
              <div class="img-holder">
                <img src="images/img-03.jpg" alt="image description">
              </div>
            </li>
            <li>
              <div class="img-holder">
                <img src="images/img-04.jpg" alt="image description">
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>