<div id="wrapper" class="gender">
  <div id="header">
    <div class="container">
      <ul class="login-area">
        <li class="item1"><a href="#">Item1</a></li>
        <li class="signin"><a href="#">Sign In</a></li>
        <li class="signin"><a href="#">Sign Out</a></li>
      </ul>
    </div>
  </div>
  <div class="container">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"><img src="images/logo.png" alt=""></a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">Sports</a></li>
            <li><a href="#">Gender</a></li>
            <li><a href="#">CATEGORY</a></li>
            <li class="active"><a href="#">Style</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Options</a></li>
            <li><a href="#">Decoration</a></li>
            <li><a href="#">Summary</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
  </div>
  <main id="main">
    <div class="container">
      <div class="custom-container">
        <div class="main-heading">
          <h1>style</h1>
        </div>
        <div class="card">
          <div class="four-col">
            <div class="col">
              <div class="layout"></div>
              <div class="image-holder">
                <img src="images/img-des1.png" alt="image description">
              </div>
              <div class="design-info">
                <span class="design-code">605 piny</span>
                <span class="design-name">Swarm</span>
                <a href="#" class="style-link">More Information</a>
              </div>
            </div>
            <div class="col">
              <div class="layout"></div>
              <div class="image-holder">
                <img src="images/img-des2.png" alt="image description">
              </div>
              <div class="design-info">
                <span class="design-code">605 piny</span>
                <span class="design-name">Swarm</span>
                <a href="#" class="style-link">More Information</a>
              </div>
            </div>
            <div class="col">
              <div class="layout"></div>
              <div class="image-holder">
                <img src="images/img-des3.png" alt="image description">
              </div>
              <div class="design-info">
                <span class="design-code">605 piny</span>
                <span class="design-name">Swarm</span>
                <a href="#" class="style-link">More Information</a>
              </div>
            </div>
            <div class="col">
              <div class="layout"></div>
              <div class="image-holder">
                <img src="images/img-des4.png" alt="image description">
              </div>
              <div class="design-info">
                <span class="design-code">605 piny</span>
                <span class="design-name">Swarm</span>
                <a href="#" class="style-link">More Information</a>
              </div>
            </div>
            <div class="col">
              <div class="layout"></div>
              <div class="image-holder">
                <img src="images/img-des5.png" alt="image description">
              </div>
              <div class="design-info">
                <span class="design-code">605 piny</span>
                <span class="design-name">Swarm</span>
                <a href="#" class="style-link">More Information</a>
              </div>
            </div>
            <div class="col">
              <div class="layout"></div>
              <div class="image-holder">
                <img src="images/img-des6.png" alt="image description">
              </div>
              <div class="design-info">
                <span class="design-code">605 piny</span>
                <span class="design-name">Swarm</span>
                <a href="#" class="style-link">More Information</a>
              </div>
            </div>
            <div class="col">
              <div class="layout"></div>
              <div class="image-holder">
                <img src="images/img-des2.png" alt="image description">
              </div>
              <div class="design-info">
                <span class="design-code">605 piny</span>
                <span class="design-name">Swarm</span>
                <a href="#" class="style-link">More Information</a>
              </div>
            </div>
            <div class="col">
              <div class="layout"></div>
              <div class="image-holder">
                <img src="images/img-des3.png" alt="image description">
              </div>
              <div class="design-info">
                <span class="design-code">605 piny</span>
                <span class="design-name">Swarm</span>
                <a href="#" class="style-link">More Information</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>