<main id="main">
  <div class="container">
    <div class="custom-container">
      <div class="main-heading">
        <h1>CATEGORY</h1>
      </div>
      <div class="category-btn">
        <%=link_to "Stock", styles_path(category: "stock"), class: "btn btn-primary"%>
        <%=link_to "Custom Sublimation", styles_path(category: "sublimation"), class: "btn btn-default"%>
      </div>
    </div>
  </div>
</main>
