<main id="main">
  <div class="container">
    <div class="custom-container">
      <div class="main-heading">
        <h1>CATEGORY</h1>
      </div>
      <div class="category-btn">
        <a href="#" class="btn btn-primary">Stock</a>
        <a href="#" class="btn btn-default">Custom Sublimation</a>
      </div>
    </div>
  </div>
</main>
