<main id="main">
  <div class="container">
    <div class="custom-container">
      <div class="main-heading">
        <h1>Gender</h1>
      </div>

      <%-@gender_categories.each do |gender, categories|%>
        <ul class="list col-lg-4 col-md-4 col-sm-4">
          <li class="heading"><%=gender.gender%></li>
          <%- categories.each do |category|%>
            <li class="<%=current_user.category_id == category.id && "active"%>"><%=link_to category.garment_category, categories_path(category_id: category.id)%></li>
          <%end%>
        </ul>
      <%end%>
    </div>
  </div>
</main>