<ul class="login-area">
  <li class="item1"><a href="#"><%=params[:controller].singularize.upcase%></a></li>
  <%- if current_user.try(:user_name) != "guest" && user_signed_in?%>
    <li class="signin"><%=link_to "Sign Out", :destroy_user_session, method: :delete%></li>
  <%else%>  
    <li class="signin"><%= link_to 'Sign In', :new_user_session, remote: true %></li>
  <%end%>
</ul>
