<ul class="login-area">
  <li class="item1"><a href="#">Item1</a></li>
  <%- if user_signed_in?%>
    <li class="signin"><%=link_to "Sign Out", :destroy_user_session%></li>
  <%else%>  
    <li class="signin"><%= link_to 'Sign In', :new_user_session, method: :delete, remote: true %></li>
  <%end%>
</ul>
